<!DOCTYPE html>
<html>
<head>
    {% if context.title %}
        <title> {{ context.title }} </title>
    {% else %}
        <title> Home Page </title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <h1>Random Users</h1>

    <ul>
        {% for user in context.users %}
            <li>
                <img src={{ user.image }}>
                <p>Ism: {{ user.first }}<br>
                    Familya: {{ user.last }}<br>
                    Email: {{ user.email }}<br>
                    Phone: {{ user.phone }}
                </p>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('about') }}">About</a>
</body>
</html>